<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>tcasgl</display-name>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>eu.mamakis.tcasgl.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>eu.mamakis.tcasgl.servlet.ActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDBServlet</servlet-name>
        <servlet-class>eu.mamakis.tcasgl.servlet.CreateDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistics</servlet-name>
        <servlet-class>eu.mamakis.tcasgl.servlet.Statistics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDBServlet</servlet-name>
        <url-pattern>/CreateDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistics</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>IndexServlet</welcome-file>
    </welcome-file-list>
    <resource-env-ref>
        <resource-env-ref-name>jdbc/language</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>
    <resource-env-ref>
        <resource-env-ref-name>jdbc/cognitive</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>
</web-app>
